.page-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 3rem 1fr 3rem;
  overflow: hidden;

  .page-header {
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;

    span {
      color: white;
      text-indent: 1rem;
    }

    .span-message {
      font-size: 1.4rem;
    }
  }

  .page-content {
    grid-area: content;
    overflow: hidden;
  }

  .page-footer {
    grid-area: footer;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    text-indent: 1rem;

    button {
      margin: 0 1rem;
    }
  }

  .page-content div,
  .page-content svg {
    height: 100%;
    width: 100%;
  }
}
