.page-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 3rem 1fr 3rem;
  overflow: hidden;

  .page-header {
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;

    span {
      color: white;
      text-indent: 1rem;
    }

    .span-message {
      font-size: 1.4rem;
    }
  }

  .page-content {
    grid-area: content;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 450px;
  }

  .page-sidebar {
    display: grid;
    grid-template-rows: 20% 20% 1fr;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;

    .page-unit {
      display: grid;
      border: 2px solid black;
      overflow-y: hidden;
      font-size: 1.1rem;
      font-weight: bold;

      grid-template-columns: 50% 50%;

      .page-unit__left {
        display: grid;
        grid-template-rows: 75% 25%;
      }

      .page-unit__right {
        display: grid;
        grid-template-rows: repeat(4, 25%);
      }
    }

    .page-unit__left > div {
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .page-unit__right > div {
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .page-hex {
      display: grid;
      border: 2px solid black;
      overflow-y: hidden;
      font-size: 1.1rem;
      font-weight: bold;

      grid-template-columns: 50% 50%;

      .page-hex__left {
        display: grid;
        grid-template-rows: 75% 25%;
        border-right: 1px solid black;
      }

      .page-hex__right {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    .page-hex__left > div {
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .page-hex__right > div {
      overflow-y: hidden;
      border: 1px solid black;
      font-size: 1rem;
      font-weight: bold;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .page-oob {
      border: 1px solid black;
      overflow-y: hidden;
    }
  }

  .page-footer {
    grid-area: footer;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    text-indent: 1rem;

    button {
      margin: 0 1rem;
    }
  }

  .main-svg svg {
    height: 100%;
    width: 100%;
  }

  @media (max-width: 1000px) or (max-height: 500px) {
    .page-sidebar {
      display: none;
    }
    .page-content {
      grid-template-columns: 100%;
    }
  }
}
